<h1>Questions 1</h1>
<h2><%= @question.title %></h2>
  <%= form_for(@question) do |f|   %>
  <%= radio_button_tag(:q1, 1, checked = false) %> <%= @question.option1 %><br>
  <%= radio_button_tag(:q1, 2, checked = false) %> <%= @question.option2 %><br>
  <%= radio_button_tag(:q1, 3, checked = false) %> <%= @question.option3 %><br>
  <%= radio_button_tag(:q1, 4, checked = false) %> <%= @question.option4 %><br>
  <hidden for="question_id" />
  <%= f.submit "Answer" %>
<% end %>
